#cont {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.card {
  display: block;
  border:1px solid black;
  width: 300px;
}

.col {
  display: flex;
  flex-direction:column;
  min-width: 300px;
  border: 1px solid black;
}
