<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trending Data</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="index.css">
  <body>
    <!--<canvas id="myChart" width="400" height="400"></canvas>-->
    <button type="button" onclick="getAccess()">Access Twitter</button>
    <div id="cont">
      <div class="col">
        Time
        <div class="card" v-for="item in time">
          {{item}}
        </div>
      </div>
      <div class="col">
        Place
        <div class="card" v-for="item in place">
          {{item}}
        </div>
      </div>
      <div class="col">
        Text
        <div class="card" v-for="item in text">
          {{item}}
        </div>
      </div>
      <div class="col">
        Words
        <div class="card" v-for="item in word">
          {{item}}
        </div>
      </div>
    </div>
  </body>
  <script src="gunSling.js" charset="utf-8"></script>
  <script src="index.js" charset="utf-8"></script>
</html>
